section.about
    .container
        .about__inner
            h2.about__title About Us
            p.about__description We are added our major Services
            ul.about__content
                li.about__item
                    picture.about__image
                        source(srcset='images/like.avif' type='image/avif')
                        source(srcset='images/like.webp' type='image/webp')
                        img(src='images/like.png' alt='Facebook Marketing' loading='lazy' decoding="async")
                    em.about__item-title Facebook Marketing
                    p.about__item-description Lorem Ipsum is simply dummy text of the printing and typesetting industry. standard dummy text ever
                li.about__item
                    picture.about__image
                        source(srcset='images/book.avif' type='image/avif')
                        source(srcset='images/book.webp' type='image/webp')
                        img(src='images/book.png' alt='landing pages Creation' loading='lazy' decoding="async")
                    em.about__item-title landing pages Creation
                    p.about__item-description Lorem Ipsum is simply dummy text of the printing and typesetting industry. standard dummy text ever
                li.about__item
                    picture.about__image
                        source(srcset='images/message.avif' type='image/avif')
                        source(srcset='images/message.webp' type='image/webp')
                        img(src='images/message.png' alt='Ads management' loading='lazy' decoding="async")
                    em.about__item-title Ads management
                    p.about__item-description Lorem Ipsum is simply dummy text of the printing and typesetting industry. standard dummy text ever
