section.analysis
    .container
        h2.analysis__title Get Your Free Facebook Analysis Now
        p.analysis__description Enter your details below
        button.analysis__button
            svg
                use(xlink:href='images/sprite.svg#arrow')
        form.analysis__form.is-hidden(action="" method='post')
            p.analysis__form-text Sit down with our experts to receive a free customized marketing plan for your business + Learn How To Use Google and Facebook to get 5000% ROI or more
            input.analysis__input(type='text' data-valid="required" placeholder='Your Name')
            input.analysis__input(type='email' data-valid="required" data-email placeholder='Your Email')
            input.analysis__input(type='tel' data-valid="required" data-number  placeholder='Contact Number')
            input.analysis__submit.button(type="submit" value="SUBMIT NOW")
            .analysis__form-close-button x