section.approach
    .container
        h2.approach__title Our Approch
        p.approach__description Check Our approches step by step ( how we do it )
        ul.approach__content
            li.approach__item
                .approach__image-box
                    picture.approach__image
                        source(srcset='images/step-1.avif' type='image/avif')
                        source(srcset='images/step-1.webp' type='image/webp')
                        img(src='images/step-1.jpg' alt='step-1' loading='lazy' decoding="async")
                    .approach__step
                        span 1
                        span step
                .approach__text-box
                    em.approach__item-title Step 1 : Heading Here
                    p.approach__item-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
            li.approach__item
                .approach__image-box
                    picture.approach__image
                        source(srcset='images/step-2.avif' type='image/avif')
                        source(srcset='images/step-2.webp' type='image/webp')
                        img(src='images/step-2.jpg' alt='step-2' loading='lazy' decoding="async")
                    .approach__step
                        span 2
                        span step
                .approach__text-box
                    em.approach__item-title Step 2 : Heading Here
                    p.approach__item-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
            li.approach__item
                .approach__image-box
                    picture.approach__image
                        source(srcset='images/step-3.avif' type='image/avif')
                        source(srcset='images/step-3.webp' type='image/webp')
                        img(src='images/step-3.jpg' alt='step-3' loading='lazy' decoding="async")
                    .approach__step
                        span 3
                        span step
                .approach__text-box
                    em.approach__item-title Step 3 : Heading Here
                    p.approach__item-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
            li.approach__item
                .approach__image-box
                    picture.approach__image
                        source(srcset='images/step-4.avif' type='image/avif')
                        source(srcset='images/step-4.webp' type='image/webp')
                        img(src='images/step-4.jpg' alt='step-4' loading='lazy' decoding="async")
                    .approach__step
                        span 4
                        span step
                .approach__text-box
                    em.approach__item-title Step 4 : Heading Here
                    p.approach__item-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
