//- include head.pug
head
  meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  title Business - Media Marketing 2023
  meta(name="description", content="Business - Media Marketing 2023")
  link(rel="icon" href="favicons/favicon.ico" sizes="any")
  link(rel="icon" href="favicons/icon.svg" sizes="any" type="image/svg+xml")
  link(rel="apple-touch-icon" href="favicons/apple-touch-icon-180x180.png" sizes="180x180")
  link(rel="manifest" href="favicons/manifest.webmanifest")
  link(rel="stylesheet", href="css/style.min.css")
