section.work
    .container
        h2.work__title Our Work
        p.work__description We are added our featured works below
        ul.work__content
            li.work__item
                picture.work__image
                    source(srcset='images/work-item.avif' type='image/avif')
                    source(srcset='images/work-item.webp' type='image/webp')
                    img(src='images/work-item.png' alt='message first image ' loading='lazy' decoding="async")
                strong.work__item-title Project Name
                p.work__item-text Facebook marketing
            li.work__item
                picture.work__image.work__image--biggest
                    source(srcset='images/work-1.avif' type='image/avif')
                    source(srcset='images/work-1.webp' type='image/webp')
                    img(src='images/work-1.jpg' alt='Facebook Marketing' loading='lazy' decoding="async")
            li.work__item
                picture.work__image
                    source(srcset='images/work-item.avif' type='image/avif')
                    source(srcset='images/work-item.webp' type='image/webp')
                    img(src='images/work-item.png' alt='message second image' loading='lazy' decoding="async")
                strong.work__item-title Project Name
                p.work__item-text Facebook marketing
            li.work__item
                picture.work__image.work__image--biggest
                    source(srcset='images/work-2.avif' type='image/avif')
                    source(srcset='images/work-1.webp' type='image/webp')
                    img(src='images/work-2.jpg' alt='Facebook Marketing' loading='lazy' decoding="async")
            li.work__item
                picture.work__image.work__image--biggest
                    source(srcset='images/work-3.avif' type='image/avif')
                    source(srcset='images/work-3.webp' type='image/webp')
                    img(src='images/work-3.jpg' alt='Facebook Marketing' loading='lazy' decoding="async")
            li.work__item
                picture.work__image
                    source(srcset='images/work-item.avif' type='image/avif')
                    source(srcset='images/work-item.webp' type='image/webp')
                    img(src='images/work-item.png' alt='message third image' loading='lazy' decoding="async")
                strong.work__item-title Project Name
                p.work__item-text Facebook marketing
            li.work__item
                picture.work__image.work__image--biggest
                    source(srcset='images/work-4.avif' type='image/avif')
                    source(srcset='images/work-4.webp' type='image/webp')
                    img(src='images/work-4.jpg' alt='Facebook Marketing' loading='lazy' decoding="async")
            li.work__item
                picture.work__image
                    source(srcset='images/work-item.avif' type='image/avif')
                    source(srcset='images/work-item.webp' type='image/webp')
                    img(src='images/work-item.png' alt='message fourth image' loading='lazy' decoding="async")
                strong.work__item-title Project Name
                p.work__item-text Facebook marketing


